body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: grey;
    color: white;
    text-decoration: none;
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 200;
}

#NavBarWrapper {
    height: 90px;
}

#Icon {
    flex: 1;
    text-align: center;
    color: white;
    height: 100%;
}

#Icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Icon img {
    height: 70%;
}

#NavLinks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
}

#NavIcon {
    flex: 3;
    display: none;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
    min-width: 80v;
    justify-content: center;
    height: 100%;
    padding: 0 3vw;
}

.MainSection {
    background-color: rgba(211, 211, 211, 0.5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}

.MainContent {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 10vh;
    min-height: 700px;
    height: 90vh;
}

.MainImage {
    width: 300px;
}

#prof-image {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px black;
}

.FillLightGrey {
    fill: lightgrey;
}

.ExperienceWrapper {
    padding: 5% 0;
}

.ExperienceWrapper:nth-child(2n) {
    background-color: rgba(211, 211, 211, 0.5);;
    clip-path: polygon(0 0%, 100% 5%, 100% 100%, 0% 95%);
}

.ExperienceWrapper:nth-child(2n) .ExperiencesContent {
    flex-direction: row-reverse;
}

.ExperienceDescription,
.TechnologyDescription {
    font-size: small;
    font-weight: lighter;
}

.ExperiencesContent {
    display: flex;
}

.ExperienceImage {
    flex: 2;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExperienceText {
    margin: 3%;
    flex: 1;
    margin-right: 5vh;
}

.ExperienceTitle {
    color: mediumblue;
    font-weight: lighter;
}

.TechStackImages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.TechLogo {
    height: 40px;
}

.ContactMe {
    margin: 3% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fa {
    padding: 15px;
    font-size: 25px;
    background-color: darkgrey;
    margin: 0 10px;
    border-radius: 50%;
}

.ExperienceImage img {
    width: 100%;
    box-shadow: 0px 0px 2px 0px black;
    /* height: 100%; */
}
#MobileApps {
    display: flex;
    justify-content: space-evenly;
}

#MobileApps  img{
    width: 25%;
    box-shadow: none;

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
    .ExperiencesContent {
        flex-direction: column-reverse !important;
    }
    .TechStackImages {
        margin-bottom: 5%;
    }
    .ExperienceImage {
        margin-top: 15%;
    }
    #NavIcon {
        flex: 3;
        display: block;
        position: absolute;
        top: 2vh;
        right: 0;
    }
    #NavLinks {
        margin-top: 90px;
        display: none;
    }
    #NavLinks a {
        color: black;
        padding: 5px 25px;
        background-color: white;
        display: block;
    }
    #NavLinks a:hover {
        background-color: darkgrey;
    }
}

@media only screen and (max-width: 425px) {}