.AboutMe {
    text-align: justify;
    display: flex;
    top: 10vh;
    flex-direction: row;
    min-height: 700px;
    height: 90vh;
}

.MainTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    flex: 1;
    margin-right: 5vw;
}

#Name {
    display: block;
    font-size: 2.5em;
}

.MainImageContent {
    background-image: url("../images/DSC03183.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex: 1.4;
    margin: 15px 0 0 0;
    /* height: 90vh; */
}
.ContactMe > a {
    color: blue;
    margin-bottom: 15px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .MainTextContent {
        top: 40vh;
        position: absolute;
        width: 80vw;
        justify-content: center;
        font-size: 1.5em;
        z-index: 200;
        /* font-weight: bold; */
    }

    #Name {
        font-size: 2em;
    }

    #BriefDescription {
        background-color: #c7bbaba2;
    }

    .MainImageContent {
        opacity: 0.5;
    }

    .ExperienceContent {
        display: block;
    }

    .ExperienceImage {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 425px) {
    .MainTextContent {
        top: 30vh;
    }

    .ExperienceContent {
        text-align: left;
    }

    .MainImageContent {
        background-position-y: 25%;
    }
}